* {
  font-family: 'ubuntu mono';
  font-size: 24px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 10px;
}

#template {
  height: 200px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  resize: none;
}

pre {
  display: block;
  width: 100%;
  background: #efefef;
  padding: 20px;
  border-radius: 2px;
  overflow: scroll;
}

#entry {
  display: flex;
}

#entry > * {
  flex: 1;
  max-width: 65%;
}

#help {
  width: 33%;
  margin-left: 20px;
  overflow: hidden;
}

#help * {
  font-size: 14px;
}

#offset {
  width: 100px;
}

label {
  margin: 10px 0;
  display: block;
}

#log {
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0;
  overflow: auto;
  padding-bottom: 20px;
  font-size: 16px;
}

li span {
  font-size: 16px;
}

li:before {
  content: '> ';
  flex: none;
  padding-right: 8px;
  color: #ccc;
}

.log {
  flex: 1;
  white-space: pre;
}

.timer {
  flex: none;
  color: #666;
  padding-left: 32px;
}

.string {
  color: green;
}

.hex {
  color: rgb(117, 117, 117);
}
